#navbar{
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    box-shadow: 0px 0px 4px 0px black;
}
.navbar-menu{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navbar-link{
    text-decoration: none;
    color:black;
}
.logo-div{
    display:flex;
    align-items: center;
    margin: 0 !important;
}
.menu-div{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 !important;
}
.search-icon{
    display: flex;
    width: 20px;
    flex-direction: row;
    align-items: center;
    color: white;
    cursor: pointer;
}

.fa-bookmark{
    align-self: flex-end;
}