.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

:root {
  --primary: #087f23;
  --secondary: #4caf50;
  /* --primary-light:#ddd6e6; */
  --border-radius: 5px;
}
.link-like-button{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}

.font-small{
  font-size: 12px;
}
.color-light{
  color:grey;
}
.custom-button{
  background-color: var(--secondary);
  height: 40px;
  width: 110px;
  color: white;
  border-radius: 5px;
  border:none
}